<nav class="navbar navbar-expand-md navbar-dark bg-dark menu" style="border-radius: 25px;">
  <div class="container-fluid">
  <!-- icono o nombre -->

  <a class="navbar-brand" href="/dashboard">
    <img src="../../../assets/APLogo-20-20.png" alt="Logo ap" width="150px">
    
  </a>
      
  <!-- boton del menu -->

  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>

    <!-- elementos del menu colapsable -->

  <div class="collapse navbar-collapse" id="menu">

    <ul class="navbar-nav me-auto"></ul>

    <hr class="d-md-none text-white-50">

     <!-- enlaces redes sociales -->

     <ul class="nav col-12 col-md-auto me-md-5 mb-md-0 justify-content-center">
      <li><a href="https://github.com/FrancoCamusso97" class="nav-link px-2 link-warning" target="_blank"><i class="fab fa-github fa-3x"></i></a></li>
      <li><a href="https://www.linkedin.com/in/franco-camusso-936b97170/" class="nav-link px-2 link-warning" target="_blank"><i class="fab fa-linkedin fa-3x"></i></a></li>
      <li><a href="http://www.instagram.com/francocamusso97/" class="nav-link px-2 link-warning" target="_blank"><i class="fab fa-instagram fa-3x"></i></a></li>
      <li><a href="https://www.facebook.com/franco.camusso" class="nav-link px-2 link-warning" target="_blank"><i class="fab fa-facebook fa-3x"></i></a></li>
    </ul>
    
   <!--boton Salir -->

    <form class="d-flex">
      <button type="button" class="btn btn-outline-warning me-2" (click)="logOut()">Salir</button>   
    </form>
    
    
  </div>

  </div>  
</nav>

























