
<!-- Seccion proyectos -->
<div class="container text-center">
    <div class="titulo-proyecto mt-5">
       <h1 style="color: aliceblue;"><u>Proyectos</u></h1>
    </div>


    <div class="row">
       <div class="col-sm-12">
          <a href="https://github.com/FrancoCamusso97/calculadora" target="_blank"><img src="../../../assets/calculadora.png" style="height: 250px;" class="img-fluid proyecto" alt="Proyecto"></a>
          <p class="texto-proyecto"> Calculadora</p>
       </div>
      
      
    </div>
 </div>
 