<div class="container-fluid text-center">
    <div class="contenedor">
        <h2>Mis Habilidades</h2>

        <div class="skills">
            <div class="detalles">
                <span>HTML</span>
                <span>50%</span>
            </div>

            <div class="menu">
                <div id="html-menu">

                </div>
            </div>
        </div>

        <div class="skills">
            <div class="detalles">
                <span>CSS</span>
                <span>45%</span>
            </div>

            <div class="menu">
                <div id="css-menu">

                </div>
            </div>
        </div>

        <div class="skills">
            <div class="detalles">
                <span>JavaScript</span>
                <span>50%</span>
            </div>

            <div class="menu">
                <div id="js-menu">

                </div>
            </div>
        </div>

        <div class="skills">
            <div class="detalles">
                <span>Angular</span>
                <span>30%</span>
            </div>

            <div class="menu">
                <div id="angular-menu">

                </div>
            </div>
        </div>

        <div class="skills">
            <div class="detalles">
                <span>Trabajo en equipo</span>
                <span>90%</span>
            </div>

            <div class="menu">
                <div id="equipo-menu">

                </div>
            </div>
        </div>

    </div>
</div>